body {
    text-align: center;
    background: url("background 2.png");
    background-position: -0px -110px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    color: rgb(96, 13, 99);
    font-family: helvetica;
    height: auto;
}

h1 {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    body {
    font-size: 15px;
    }
    }


input {
    border: 0;
    padding: 10px;
    font-size: 18px;
    }
  input[type="submit"] {
    color: rgb(73, 226, 201);
    background: rgb(5, 39, 90);
    
    }
