
body {
    text-align: center;
    background: url("background 2.png");
    background-position: 40% 15%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    color: rgb(96, 13, 99);
      
}

h1 {
    text-align: center;
    font-weight:900;
}

.header { 
    display: flex; 
    align-items: left; 
    justify-content: left; 
    flex-direction: column; 
    text-align: center; 
    margin: 6% 0;  
    align-items: left;
    float: inline-start;
    inline-size:35%;
    block-size:400px;
} 

@media only screen and (max-width: 1000px) {
    body {
       font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
       
 }
 @media only screen and (max-width: 320px) {
    body {
       font-size: 12px;
    }
 }

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
    }
  input[type="submit"] {
    color: rgb(73, 226, 201);
    background: rgb(5, 39, 90);

    
    }
.nav ul {
    padding: 10px;
    background:rgba(125, 13, 199, 0.767);;
}
.nav li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

.nav a {
    color:rgb(6, 70, 59);
}
.mail {
    margin: auto;
}