body {
    text-align: center;
    background: url("background 2.png");
    background-position: -0px -140px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    color: rgb(96, 13, 99);
    font-family: helvetica;
}